html,body{
    margin: 0;
    padding: 0;
  
    /* background-image: url(https://static.wixstatic.com/media/ea71bb_f6afb11f2c8f406ca1c8993c2eca99e7~mv2_d_11495_6131_s_4_2.jpg/v1/fill/w_1348,h_911,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/ea71bb_f6afb11f2c8f406ca1c8993c2eca99e7~mv2_d_11495_6131_s_4_2.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    /* opacity: 0.7;
    background-color: rgba(134, 54, 54, 0.1); */
  }