@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.regbody{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
.regbody{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  /* background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d); */
}
::selection{
  color: #fff;
  background: #d43f8d;
}
.rtable
{
  display: flex;
  margin:20px;
}
.rright
{
  margin: 40px;
}
.rright tr
{
   margin: 5px;
}
.rcontainer{
  width: 80%;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 35px 2px 20px;
}

.rcontainer .form-outer{
  width: 100%;
}
.rcontainer .form-outer form{
  display: flex;
  width: 100%;
}
.form-outer form .page{
  width: 100%;
  transition: margin-left 0.3s ease-in-out;
}

.form-outer form.page table{
   margin-top: 0px;
   padding: 20px;
}
.form-outer form.page table td
{
    color: black;
  
  }
.form-outer form.page table tr
  {
    width: 40px;
    margin: 80px;
  }

.form-outer form .page table input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
  margin: 5px;
}
.form-outer form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
.form-outer form .page .field textarea
{
    width: 100%;
    height: 200px;

}
.form-outer form .page .field button{

  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #d33f8d;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.form-outer form .page .field button:hover{
  background: #000;
}
.form-outer form .page .btns button{
  margin-top: -20px
}